<section id="top_bar_content">
  <%=raw @page.content_for(:top_bar) %>
</section>

<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>


<section id='side_body_content'>
  <span class="ifso-bigger-bolder">Click on our titles</span>
  <ul id="books">
  <% @books.each do |book| %>
    <li style="<%= cycle('background-color:#e4f1d4;','background-color:#c7eafc;') -%>">
      <%= image_fu book.photo, nil %>
      <div class="book_details">
        <%= link_to content_tag(:span), refinery.books_book_path(book) %><br />
        <%= book.title %><br />
        <% if book.author? %>
          by <%=  book.author %><br />
        <% end %>
        <%=  book.description.html_safe %><br />
      </div>
      
    </li>
  <% end %>
</ul>     


</section>
