<section id="top_bar_content">
  <%=raw @page.content_for(:top_bar) %>
</section>

<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>


<section id='side_body_content'>
  <span class="ifso-bigger-bolder">Click on our titles:</span>
  <ul id="books">
  <% @books.each do |book| %>
    <div class="book_container">
      <%#= link_to content_tag(:span), refinery.books_book_path(book) %><br />
      <li class="<%= cycle('book-grn-bkg','book-blue-bkg') -%>">

        <%= image_fu book.photo, nil %>
        <div class="book_details">

          <div class='book_title'>
            <%= book.title %>
          </div>
          <div class="book_author">
            <% if book.author? %>
              By <%=  book.author %>
            <% end %>
          </div>
          <div class="book_desc">
            <%=  book.description.html_safe %>
            <% if !book.author? %>
              <br />
            <% end %>
          </div>
        </div>
        <div class="book_buttons">
          <a href="<%= refinery.books_book_path(book) %>" class="button">SCHOOLS</a> 
          <a href="<%= refinery.books_book_path(book) %>" class="button">BOOK GROUPS</a>
        </div>
        <div class="book_findout">Click to find out more</div>
      </li>
    </div>   
  <% end %>
</ul>     


</section>
