= nested_form_for(@book) do |f|
  - if @book.errors.any?
    #error_explanation
      .h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:

      %ul
        = @book.errors.full_messages.each do |msg|
          %li= msg


  %p
    #notice= notice
  .book_field
    = f.label :title
    %br
    = f.text_field :title, size: 30

  .book_field
    = f.label :author
    %br
    = f.text_field :author, size: 30

  = f.fields_for :ifgroups do |ff|
    Ifgroup:
    = ff.text_field :group_name, size: 30

  = f.fields_for :members do |ffb|
    member:
    = ffb.text_field :email, size: 30
    = ffb.link_to_remove "Remove this member?"
  %p
    %br
    = f.link_to_add "Add a member", :members


