<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ifgroup.title %>
</p>

<p>
  <b>First name:</b>
  <%= @ifgroup.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @ifgroup.last_name %>
</p>

<p>
  <b>School name:</b>
  <%= @ifgroup.school_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @ifgroup.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @ifgroup.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @ifgroup.address3 %>
</p>

<p>
  <b>Town:</b>
  <%= @ifgroup.town %>
</p>

<p>
  <b>County:</b>
  <%= @ifgroup.county %>
</p>

<p>
  <b>Post code:</b>
  <%= @ifgroup.post_code %>
</p>

<p>
  <b>Teacher email:</b>
  <%= @ifgroup.teacher_email %>
</p>

<p>
  <b>Group1 email:</b>
  <%= @ifgroup.group1_email %>
</p>

<p>
  <b>Group2 email:</b>
  <%= @ifgroup.group2_email %>
</p>

<p>
  <b>Invoice to:</b>
  <%= @ifgroup.invoice_to %>
</p>


<%= link_to 'Edit', edit_ifgroup_path(@ifgroup) %> |
<%= link_to 'Back', ifgroups_path %>
